<h2><%= @meetups.name %></h2>
<h4>Description:</h4> <%= @meetups.description %>
<h4>Location:</h4> <%= @meetups.location %>

<h4> Attendees </h4>
<% @attendees.each do |id| %>
  <ul><img width="30px" height="30px" src= <%=id.avatar_url %>> <%= id.username %></ul>
  <% end %>


  <% if signed_in? %>
  <form action="/meetups/<%= @meetups.id %>" method="post">
    <% if member?(session[:user_id], @meetups.id) %>
    <input type="hidden" name="leave">
    <button type="submit">Leave Meetup</button>
    <% else %>
    <input type="hidden" name="join">
    <button type="submit">Join Meetup</button>
    <% end %>
  </form>
  <% else %>
  <a href="/auth/github"><ul><button type='submit'> Sign in to join this meetup</button></ul></a>
  <% end %>
