<h2><%= @meetups.name %></h2>
<h4>Description:</h4> <%= @meetups.description %>
<h4>Location:</h4> <%= @meetups.location %>

<h4> Attendees </h4>
<% @attendees.each do |id| %>
  <ul><img width="50px" height="50px" src= <%=id.avatar_url %>> <%= id.username %></ul>
  <% end %>


  <% if signed_in? %>
      <% if @attendees.include?(current_user) %>
          <form action="/meetups/<%= @meetups.id %>/leave" method="post">
          <button type="submit">Leave Meetup</button></form>
      <% else %>
          <form action="/meetups/<%= @meetups.id %>/join" method="post">
          <button type="submit">Join Meetup</button></form>
      <% end %>
  <% else %>
    <a href="/auth/github"><ul><button type='submit'> Sign in to join this meetup</button></ul></a>
  <% end %>

<% if @attendees.include?(current_user) %>
  <h4> Message Board </h4>
  <% @messages.each do |posts| %>

  <ul>
    <%= posts.user.username %>
    <%= posts.message %>
    <%= posts.created_at %></ul>
  <% end %>

  <form action="/add_message" method="post">
    <input type="text" name="message">
    <input name="meetup" value="<%= @meetups.id %>" hidden>
    <button type="submit">Post Message</button>
<% end %>
